
body	{
	font-family:"Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}
.col-20{
	width: 20%
}
.container>.navbar-header{
	margin-left: 0px;

	margin-right: 0px;
}
.inline-block{
	display: inline-block;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background: none;
}
/*navbar button*/
.navbar-default .navbar-toggle{
	    margin-bottom: 0;
	    margin-top: 0px!important;
    height: 50px;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding-right: 20px;
    padding-left: 20px;
    background: none;
    float: left!important;
}
#navbar-mobile{
	display: none;
}
@media (min-width: 768px){
	.container {
	    width: 750px;
	}
	#index_c_hero{
		width: 730px;
	}

	#index_c_hero .hero{
		width:720px;
	    height:327px!important;
	    overflow:hidden;
	    left:120%;
	    background: none!important;
	    padding: 0 5px!important;
	}
	.hero-wrap{
		width: 100%;
	}
	.hero_img{
		width: 720px;
	}
	#na_profile .mainbox .hotact .hotact-wrap{
		margin: auto;
	}
	#index_c_hero img{
		width: 720px!important;
		height: 327px!important;
	}
}
@media (min-width: 992px){
	.container {
	    width: 970px;
	}
	#index_c_hero{
		width: 950px;
	}
	#index_c_hero img{
		width: 940px!important;
		height:396px!important;
	}
	#index_c_hero .hero{
		width:940px;
	    height:396px!important;
	    overflow:hidden;
	    left:1680px;
	    background: none!important;
	    padding: 0 5px!important;
	}
	.hero_img{
		width: 940px;
		height:396px!important;
	}
	#na_profile .mainbox .hotact .hotact-wrap{
		margin: auto;
	}
}
@media (min-width: 1200px){
	.container {
	    width: 1210px;
	}
	#index_c_hero{
		width: 1032px;
	}
	#index_c_hero .hero{
		width:1022px;
	    height:396px;
	    left:1920px;
	    background: none!important;
	    padding: 0 5px!important;
	}
	.hero_img{
		width: 1032px;
	}
	#na_profile .mainbox .hotact .hotact-wrap{
		margin:0 111px 80px 111px;
	}
	#na_profile .mainbox	.online	ul{
		margin:0 204px!important;
		width: auto!important;
	}
	#index_c_hero .mask-left, #index_c_hero .mask-right{
		background: none!important;
		padding: 0 5px!important;
	}
	#index_c_hero img{
		width: 1022px!important;
	}
	
}
@media(max-width: 767px){
	#na_profile .mainbox h1{
	    font-size: 28px!important;
	}
	#na_profile .mainbox h6{
		font-size: 14px!important;
	}
	#na_profile .mainbox	.online li{
		width: 100%!important;
		margin-right: 0!important;
		position: relative;
		text-align: center;
	}
	#na_profile .mainbox	.online li .icon{
		/*width: 38px!important;*/
		margin-right: 0px!important;
		padding-right: 10px;
		/*width: 40%;*/
    	text-align: right;
	}
	#na_profile .mainbox	.online li .icon img{
		height: 36px!important;
	}
	#na_profile .mainbox	.online li .des{
		/*min-width: 190px;*/
	    /*width: 65%;*/
    	text-align: left;
	}
	#na_profile .mainbox	.online li .des span{
		font-size: 25px!important;
	}
	#viewmainc{
		    height: 340px!important;
	}
	#na_profile .mainbox	.online li .des span{
		font-weight: 100;
	}

	#na_profile .mainbox	.roomdes{
		font-size: 14px!important;
	}
	#na_profile .mainbox	h2{
		font-size: 28px!important;
	}
	/*box*/
	#na_profile .mainbox .name13_wrap{
		    width: 100%!important;
	}
	#na_profile .mainbox .name13_wrap .sir{
		font-size: 16px!important;
	}
	#na_profile .mainbox .hot13_list img{
		height: 165px!important;
	}
	#na_profile .mainbox .hot13_list .img{
		height: 165px!important;
	}
	#na_profile .mainbox .hotroom13 .hot13_list .chat-box .photo{
		height: 165px!important;
	}
	#na_profile .mainbox .name13_wrap{
		    top: 93px!important;
	}
	#na_profile .mainbox .a_good h1{
		margin-top: 80px!important;
		font-size: 26px!important;
	}
	#na_profile .mainbox .morebtn{

    	padding: 8px 90px!important;
	}
	#na_profile .mainbox .a_good .applybtn{
		padding: 8px 90px!important;	
	}
	.hotact-wrap > div{
		margin-bottom: 20px;
	}
	/* be manager*/
	#na_profile .mainbox .a_good .item{
		display: inline-block!important;
	}
	#na_profile .mainbox .a_good .item li{
		width: 33%!important;
	    height: 183px!important;
	    display: block!important;
	    padding-top: 10px!important;
	}
	#na_profile .mainbox .a_good .item li:nth-of-type(4){
		width: 50%!important;
	}
	#na_profile .mainbox .a_good .item li:nth-of-type(5){
		width: 50%!important;
	}
	#na_profile .mainbox .a_good .item li p{
    	padding: 0 12px
	}
	
	/*slider*/
	#index_c_hero img{
		height: 340px!important;
		width: 100%!important;
		visibility: hidden;
	}

	#index_c_hero .mask-left, #index_c_hero .mask-right, #index_c_hero .hero{
		padding-left: 0!important;
		padding-right: 0!important;
		height: 340px!important;
	}

	/*navbar */
	#nnew_head .head_inner{
    	padding-left: 0!important;
    	padding-right: 0!important;
	}
	.nlogo{
		display: block;
	    width: 120px!important;
	    height: 50px!important;
        float: right!important;
	    margin-right: 33%!important;
	    margin-top: 0px!important;

	}
	.nlogo img {
	    margin-top: 8px!important;
	}
	#na_top{
		padding-top: 50px!important;;
	}

	/*navbar mobile*/
	#navbar-mobile{
		width: 90%;
		font-size: 16px;
		padding-bottom: 5px;
	    opacity: 1;
	    background: #fff;
	    box-shadow: 5px 10px 15px rgba(128, 128, 128, 0.38);
	    display: none;
	}
	#navbar-mobile.active{
		display: block;
	}
	#navbar-mobile a{
		display: block;
	}
	#navbar-mobile .menu-row{
		background: url(../images4/icon_way.png) no-repeat scroll 95% 48%;
	}
	#navbar-mobile ul > li > a{
		line-height: 36px;
		font-weight: bold;
	}
	#navbar-mobile ul > li.border-bottom a{
		border-bottom: 1px solid #e0e0e0;
	}
	#navbar-mobile ul > li > a, #navbar-mobile dd{
		line-height: 43px;
		height: 43px;
	    padding: 0 20px;
	    border-bottom: 1px solid rgba(128, 128, 128, 0.13);
	    width: 100%;
	    display: block;
	}
	#navbar-mobile ul > li > a .glyphicon{
		line-height: 43px;
	}
	#navbar-mobile dd{
		padding-left: 40px;
	}
	#navbar-mobile a:hover{
		text-decoration: none;
	}
	 .xs-pd-0{
	 	padding-left: 0;
	 	padding-right: 0;
	 }
}