
$img-number:18;
@for $i from 1 through $img-number {
    .hot13_list div:nth-child(#{$i}) {

    	#new-chat-box{
        background: url("../images4/hot12img#{$i}.png") no-repeat!important;
        background-size: 100% auto!important;
        padding-bottom: 100%;
        height: 0;
    }
    }
}



#na_profile .mainbox .hotroom13 .hot13_list .chat-box .photo {
    position: static;
}